/* Base style for the Slider */
.slider {
    -fx-background-color: transparent; /* Transparent background */
}

/* Track style */
.slider .track {
    -fx-background-color: #434345; /* Dark background color */
    -fx-background-insets: 0; /* No insets */
}

/* Thumb style */
.slider .thumb {
    -fx-background-color: #1db954; /* Spotify green thumb color */
    -fx-background-insets: 0; /* No insets */
    -fx-padding: 0; /* No padding */
    -fx-shape: "M 10 0 L 0 5 L 10 10 L 10 0"; /* Custom thumb shape */
    -fx-background-radius: 0; /* No rounded corners */
}

/* Focused thumb style */
.slider .thumb:focused {
    -fx-border-color: #1db954; /* Spotify green border color */
    -fx-border-width: 1; /* Border width */
    -fx-border-radius: 0; /* No rounded corners */
}

/* Hovered thumb style */
.slider .thumb:hover {
    -fx-background-color: #1db954; /* Spotify green thumb color on hover */
}

/* Pressed thumb style */
.slider .thumb:pressed {
    -fx-background-color: #1db954; /* Spotify green thumb color when pressed */
}
